<div class="row">
  <div class="article-title left-float">
    <%= @article.title %>
  </div>

    <% if current_user && current_user.id == @article.user_id %>
        <%= button_to 'Delete article' , article_path(@article.id),
                      :method => 'delete', remote: true, class: 'btn btn-xs btn-primary left-float title-button' %>
        <%= button_to 'Edit article' , edit_article_path(@article.id),
                      :method => 'get',  class: 'btn btn-xs btn-primary left-float title-button' %>
    <%end%>

</div>
<div class="mycontrol article-interval">
  <%= @article.text %>
</div>
<table>
  <thead>
  <tr>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>

      <% @article.comments.each do |comment| %>
        <div >
           <tr id="comm<%=comment.id%>"  class="row">
             <td class="form-control control">
               <% if File.exists?("app/assets/images/"+comment.user.login+'.jpg')%>
                   <%= image_tag comment.user.login+'.jpg', class: 'thumbnail small-image' %>
               <%end%>
               <%= comment.user.first_name %>
             <%= comment.user.last_name %></td>
             <td class="col-md-4 mycontrol"><%= comment.text %></td>
          </tr>
          <tr id="com<%=comment.id%>">
            <td><%= button_to 'Destroy', comment, method: :delete, :remote => true, data: { confirm: 'Are you sure?' },  class: 'btn btn-xs btn-primary delete-me' %></td>
            <td id="show_reply">Reply
              <div id="reply"><%= render 'comments/new'%></div>
            </td>

          </tr>
        </div>
      <% end %>
  </tbody>
</table>

<%= render 'comments/new'%>
