<div class>
  <div class="article-title text-center">
    <%= @article.title %>
  </div>
  <div>
    <% if current_user && current_user.id == @article.user_id %>
        <%= button_to 'Delete article' , article_path(@article.id), :method => 'delete', remote: true, class: 'btn btn-xs btn-primary' %>
        <%= button_to 'Edit article' , edit_article_path(@article.id), :method => 'get',  class: 'btn btn-xs btn-primary' %>
    <%end%>
  </div>
</div>
<div class="mycontrol article-interval">
  <%= @article.text %>
</div>
<%= render 'comments/new'%>