<%= form_for(@user) do |f| %>

    <p>
      <%=f.label :login, class:'control-label' %>
      <%=f.text_field :login, class: 'form-control' %>
    </p>
    <p>
      <%=f.label :first_name%>
      <%=f.text_field :first_name, class: 'form-control' %>
    </p>
    <p>
      <%=f.label :last_name %>
      <%=f.text_field :last_name, class: 'form-control' %>
    </p>
    <p>
      <%=f.label :password %>
      <%=f.password_field :password, class: 'form-control' %>
    </p>
    <p>
      <%=f.label :password_confirmation %>
      <%=f.password_field :password_confirmation, class: 'form-control' %>
    </p>
    <p>
      <%= f.submit 'Sign up', class: 'btn btn-large btn-primary' %>
    </p>
<% end%>
<% if @user.errors.any? %>
    <ul class="Signup_Errors">
      <% for message_error in @user.errors.full_messages %>
          <li>* <%= message_error %></li>
      <% end %>
    </ul>
<% end %>